* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: black;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.primary-btn {
  padding: 10px;
  display: grid;
  place-content: center;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;

  &:disabled {
    background-color: rgb(134, 134, 134);
  }
}